<h1>Welcome to Fourth Coffee!</h1>
 
<div id="featuredProduct">
    <img alt="Featured Product" src="Images/Products/cupcakes.jpg" />
    <div id="featuredProductInfo">
        <div id="productInfo">
            <h2>Cupcakes</h2>
            <p class="price">$5.99</p>
            <p class="description">Delectable vanilla and chocolate cupcakes</p>
        </div>
        <div id="callToAction">
            <a class="order-button" href="order/3" title="Order Cupcakes">Order Now</a>
        </div>
    </div>
</div>
 
<ul id="products">
        <li class="product">
            <div class="productInfo">
                <h3>Carrot Cake</h3>
                <img class="product-image" src="Images/Products/Thumbnails/carrot_cake.jpg" alt="Image of Carrot Cake" />
                <p class="description">A scrumptious mini-carrot cake encrusted with sliced almonds</p>                    
            </div>
            <div class="action">
                <p class="price">$8.99</p>
                <a class="order-button" href="order/1" title="Order Carrot Cake">Order Now</a>
            </div>
        </li>
        <li class="product">
            <div class="productInfo">
                <h3>Lemon Tart</h3>
                <img class="product-image" src="Images/Products/Thumbnails/lemon_tart.jpg" alt="Image of Lemon Tart" />
                <p class="description">A delicious lemon tart with fresh meringue cooked to perfection</p>                    
            </div>
            <div class="action">
                <p class="price">$9.99</p>
                <a class="order-button" href="order/2" title="Order Lemon Tart">Order Now</a>
            </div>
        </li>
        <li class="product">
            <div class="productInfo">
                <h3>Cupcakes</h3>
                <img class="product-image" src="Images/Products/Thumbnails/cupcakes.jpg" alt="Image of Cupcakes" />
                <p class="description">Delectable vanilla and chocolate cupcakes</p>                    
            </div>
            <div class="action">
                <p class="price">$5.99</p>
                <a class="order-button" href="order/3" title="Order Cupcakes">Order Now</a>
            </div>
        </li>
        <li class="product">
            <div class="productInfo">
                <h3>Bread</h3>
                <img class="product-image" src="Images/Products/Thumbnails/bread.jpg" alt="Image of Bread" />
                <p class="description">Fresh baked French-style bread</p>                    
            </div>
            <div class="action">
                <p class="price">$1.49</p>
                <a class="order-button" href="order/4" title="Order Bread">Order Now</a>
            </div>
        </li>
        <li class="product">
            <div class="productInfo">
                <h3>Pear Tart</h3>
                <img class="product-image" src="Images/Products/Thumbnails/pear_tart.jpg" alt="Image of Pear Tart" />
                <p class="description">A glazed pear tart topped with sliced almonds and a dash of cinnamon</p>                    
            </div>
            <div class="action">
                <p class="price">$5.99</p>
                <a class="order-button" href="order/6" title="Order Pear Tart">Order Now</a>
            </div>
        </li>
        <li class="product">
            <div class="productInfo">
                <h3>Chocolate Cake</h3>
                <img class="product-image" src="Images/Products/Thumbnails/chocolate_cake.jpg" alt="Image of Chocolate Cake" />
                <p class="description">Rich chocolate frosting cover this chocolate lover’s dream.    </p>                    
            </div>
            <div class="action">
                <p class="price">$8.99</p>
                <a class="order-button" href="order/7" title="Order Chocolate Cake">Order Now</a>
            </div>
        </li>
</ul>