@{
    Page.Title = "Order Succeeded!";
    var emailNotSetUp = Request["NoEmail"] != null;
}
<ol id="orderProcess">
    <li><span class="step-number">1</span>Choose Item</li>
    <li><span class="step-number">2</span>Details &amp; Submit</li>
    <li class="current"><span class="step-number">3</span>Receipt</li>
</ol>
<h1>Order Confirmation</h1>

@if (emailNotSetUp) {
        <div class="message info">
        <h2>Please set up Mail!</h2>
        <p>Please set your Hotmail Username, Password, and From Address in Order.cshtml to send mail</p>
        </div>
} else {
    <div class="message order-success">
        <h2>Thank you for your order!</h2>
        <p>We are processing your order and have sent a confirmation email. Thank you for your business and enjoy!</p>
    </div>
}

